body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(209, 203, 203, 0.945);
}

.container {
    margin: 10px auto;
    width: 80%;
    max-width: 600px;
    height: 60%;
    padding: 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
}

.conversation {
    padding: 10px;
    margin: 10px;
    background-color: #98e2ff;
    text-align: center;
    overflow-y: auto;
    border: 1px solid gray;
    border-radius: 8px;
}

/* https://stackoverflow.com/questions/18814940/css-center-div-inside-container */
.input {
    text-align: center;
}

.input input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 8px;
    box-sizing: border-box;
}

.input button {
    padding: 10px 15px;
    font-size: 16px;
    height: 40px;
    background-color: #32baf0;
    color: white;
    border: 1px solid gray;
    border-radius: 8px;
    cursor: pointer;
}

.input button:hover {
    background-color: #0056b3;
}
